@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1200px;
    padding: 0 80px;
    margin: auto;
}

/*Navbar style*/

.navbar{
    position: fixed;
    padding: 30px 0;
    width: 100%;
    z-index: 999;
    /*background-color: crimson;*/
    font-family: 'ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    position: fixed;
    margin-top: 0px;
    padding: 15px 0;
    border-bottom: 2px black ;
    width: 100%;
    background-color: green;
    font-family: 'ubuntu',sans-serif;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo a{
    font-size: 35px;
    color: azure;
    font-weight: 600px;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
    transition: all 0.3s ease;
}
.navbar .menu li a{
    display: block;
    color: aliceblue;
    font-size: 14px;
    font-weight: 300px;
    margin-left: 15px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;

}
.navbar.sticky .menu li a:hover{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
}


/*Menu btn styling*/


.menu-btn{
    color:rgb(232, 18, 18);
    font-size: 23px;
    cursor: pointer;
   display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: green;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.home{
    display: flex;
   background: url("../public/assets/blackbackground1.jpg") no-repeat center;
    height: 125vh;
    color: white;
    min-height: 500px;
}
.home .max-width{
    margin: 185px 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 48px;
    margin-left: -3px;
    font-weight: 800;
}
.home .home-content .text-3{
    font-size: 35px;
    margin-left: 4px 0;
    font-weight: 380px;
}
.home .home-content .text-3 span{
    color: rgb(51, 235, 19);
    font-size: 35px;
   
    font-weight: 380;
}
.home .home-content a{
    display: inline-block;
    background:green;
    color: white;
    font-weight: 600;
    padding: 12px 36px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 6px;
    border:2px solid rgb(9, 9, 9);
    transition: all 0.3s ease;
    
}
.home .home-content a:hover{
   
    color: black;
    background: rgb(98, 155, 98);
}

/*All similar content styling code*/


section{
    padding: 100px 0;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'poppins' sans-serif;

}
.about .about-content,
.services .serv-content, 
.skills .skills-content, 
.contact .contact-content{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    font-family: 'ubuntu' sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu' sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(10, 10, 9);
    transform: translateX(-50%);
}
section .title::after{

    position: absolute;
    bottom: -12px;
    left: 50%;
   
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/*About Section styling*/


.about .title::after{
    content: "who i am";
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 370px;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;

}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(20, 220, 70);
    color: rgb(8, 20, 250);
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-family: 'ubuntu' sans-serif;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border:1px solid rgb(15, 237, 41);
    transition: all 0.3s ease;   
}
.about .about-content .right a:hover{
    color: chartreuse;
    color: black;
    background: aliceblue;
    border:1px solid rgb(237, 148, 15);
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 800;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
}

/*services section styling*/


.services, .teams{
    color: white;
    background: black;
}
.services .title::before, 
.teams .title::before{
    background: white;
}
.services .title::after, 
.teams .title::after{
    background: black;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}
.services .serv-content .card:hover{
    background: rgb(9, 91, 9);
    color:white;
}
.services .serv-content .card .box{
    transition:all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
    
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(20, 220, 47);
    transition:all 0.3s ease;
}
.services .serv-content .card:hover i{
    color:white ;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*skills section styling*/

.skills .title::after{
    content:"what i know";

}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(20, 220, 70);
    color: rgb(8, 20, 250);
    font-size: 18px;
    
    font-weight: 800;
    font-family: 'ubuntu' sans-serif;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 3px;
    border:2px solid rgb(15, 237, 41);
    transition: all 0.3s ease;   
}
.skills .skills-content .left a:hover{
    background:rgba(13, 243, 13, 0.2);
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: rgb(182, 90, 90);
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: green;
}
.skills .skills-content .right .HTML::before{
    width: 90%;
}
.skills .skills-content .right .CSS::before{
    width: 70%;
}
.skills .skills-content .right .JavaScript::before{
    width: 80%;
}
.skills .skills-content .right .jQuery::before{
    width: 80%;
}
.skills .skills-content .right .NodeJs::before{
    width: 75%;
}
.skills .skills-content .right .MongoDB::before{
    width: 70%;
}


/*Team Styling Start*/

.teams .title::after{
    content: "Examples";
}
.teams .carousel .card{
    background: rgb(78, 77, 77);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background:green;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 5px solid green;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: rgb(143, 67, 181);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid green!important;
}
.owl-dot.active{
    width: 100px;
    border-radius: 14px;
}
.owl-dot.active, 
.owl-dot:hover{
    background: green!important;
}


/*Contact Section Styling*/

.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);

}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}
.contact .contact-content .left p{
    text-align: justify ;
}
.contact .contact-content .left .icons{
    margin: 10px 0;

}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: green;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field, 
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 100px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-right: 10px;
}
.contact .right form .field input, 
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1.1px solid rgb(5, 107, 5);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'poppins' sans-serif;

}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 200px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid green;
    background: rgb(5, 128, 5);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color:black;
    background-color: lightgreen;
}

/*Footer Section Styling*/
footer{
    background: black;
    padding: 20px 23px;
    color: white;
    text-align: center;

}
footer span a{
    color: green;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



/*responsive media*/


@media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        
        border-radius: 2px;
    }
}
@media (max-width:991px){
    .max-width{
        padding: 0 50px;
    }
}
@media(max-width:947px){
    
    .menu-btn{
       display:block;
       z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
        font-weight: bolder;
        font-size: 24px;
        
    }
    .navbar .menu{
        position:fixed;
        height: 100vh;
        width: 100%;
        background:black ;
        left:0;
        top: -200%;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        top: 0;
    }

    .navbar .menu li{
        display: block;
        
        
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin:20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
       
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
        
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
       
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column, 
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    
    

}
@media(max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 31px;
        
    }
    .home .home-content a{
        font-size: 20px;
       
        
    }
    .services .serv-content .card{
        width: 100%;
    }
    .services .serv-content .card, 
    .skills .skills-content .column{
        width: 100%;
    }
    

}
@media(max-width:500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
        
    }
    

}
